body {
    font-family:'Montserrat', sans-serif;
    min-height:100vh;  /*появилась вертикальная прокрутка */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.header {
    border:2px solid red ; /*чтобы видеть края шапки */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list{
      display: flex;
      justify-content:flex-end;
      align-items: center;

  }

  .my-name{
      text-align: center;
      font-weight: 700;
  }

  .student{
      text-align: center;
      font-weight: 400;
  }

  .footer{
      border:2px solid purple;
  }