body {
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    color:#323232;
    min-height:100vh;  /*появилась вертикальная прокрутка */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

  /*.header {
      border:2px solid red;
  }*/

  .container {
    max-width: 1440px;
    margin: 0 auto;
}

  .nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      background-color: #BAD9E8;
      padding:20px;
      margin: 0px;
  }

  .nav-items a, a:visited{
    margin: 8px;
    font-weight: 400;
    text-decoration: none;
    color: #323232;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section {
    width: 40%;
    margin-left: 50px;
  }

.section-profile {
    width: 40%;
    text-align: center;
    padding: 50px 30px 35px;
}

  .header-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  } 

  /*.main {
      border:2px solid blue;
  }*/


  .section-title {
    padding-left: 14px;
    background-color:#BAD9E8;
  }

  .contact-icons {
    list-style-type: none;
  }

  .contact-items img{
      width: 32px;
      text-decoration: none;
      
  }

  .contact-items a {
    text-decoration: none;
  }

  .pre-code {
      text-align:left;
      white-space:pre-line;
      margin-left: 12px;
  }

  /*.footer {
      border: 2px solid plum;
  }*/

  .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width:100%;
      align-items: center;
      background-color: #F9DDDD;
  }

  .footer-github img{
    height: 25px;
    justify-content: left;
  }

  .footer-github a {
    text-decoration: none;
  }

  .footer-rs img{
      height: 25px;
      float: right;
  }



  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }